@page "/"
@using ClickRacer.Logic


<PageTitle>Click Racer</PageTitle>
new thing
@if (game.Player == null)
{
    <h3>Enter Your Name to Start</h3>
    <input @bind="PlayerNameInput" placeholder="Put your name here" />
    <button @onclick="StartGame">Start Game</button>
}
else
{
    <p>@game.Player.Name's Bank: @game.Player.Money</p>

    <img src="ClickTire.png"
     @onclick="Click"
     style="cursor: pointer; width: 200px;"
     alt="Click to earn money" />
<p>(+@game.Player.ClickValue)</p>

    <h4>Sponsors</h4>
    @foreach (var upgrade in game.Sponsers)
    {
        <div>
            <button @onclick="() => BuyUpgrade((ClickUpgrade)upgrade)" disabled="@(game.Player.Money < upgrade.Cost)">
                Buy @upgrade.Name (Cost: @upgrade.Cost, +@upgrade.Bonus per click)
            </button>
        </div>
    }
    <h4>Drivers Available</h4>
@if (GameRunner.AvailableDrivers.Count == 0)
{
    <p>All drivers have been hired!</p>
}
else
{
    @foreach (var driver in GameRunner.AvailableDrivers)
    {
        <div>
            <button @onclick="() => BuyDriver(driver.Name)" disabled="@(game.Player.Money < driver.Cost)">
                Buy @driver.Name (Cost: $@driver.Cost)
            </button>
        </div>
    }
}

<h4>Your Drivers</h4>
@if (game.Player.TeamDrivers.Count == 0)
{
    <p>You don't have any drivers.</p>
}
else
{
    <ul>
        @foreach (var driver in game.Player.TeamDrivers)
        {
            <li>@driver.Name (Skill: @driver.SkillLevel)</li>
        }
    </ul>
}

}



@code {
    private string PlayerNameInput = "";
    public GameRunner game = new();

    private void StartGame() => game.StartGame(PlayerNameInput);
    private void Click() => game.Click();
    private void BuyUpgrade(ClickUpgrade upgrade) => game.BuyUpgrade(upgrade);
    private void BuyDriver(string name) => game.TryBuyDriver(name);
}